# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\97252\Desktop\Computer Sience\G\Introduction to Machine Learning\Assignment 3\Assinment3 code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
